@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.app {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border: 1px solid coral;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.tasks {
  background: white;
  border-radius: 4px;
  max-width: 500px;
  padding: 5px;
}

.task {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 10px 20px;
}